{% extends "global/base.html" %}
{% load static %}
{% load bootstrap_icons %}

{% block content %}

    <div class="flex flex-row justify-center h-full bg-gray-300 max-lg:h-auto">

        <div class="flex flex-row justify-center rounded-lg shadow-lg bg-white my-10 mx-auto h-5/6 p-5 w-3/4 max-lg:flex-col max-lg:w-9/10 max-lg:items-center max-lg:text-center">

            <div class="flex flex-col text-3xl m-4 justify-center items-center font-semibold w-1/2 max-lg:w-full">

                <div class="flex flex-col justify-starts w-4/5 max-lg:w-full max-lg:mx-1">

                    <h2 class="text-3xl mb-8">Fale Conosco!</h2>

                    <p class="text-2xl text-blue-400 mb-5">Precisa de um orçamento, tem dúvidas, sugestões, ou críticas?</p>

                    <div class="mb-8">

                        <p class="mb-2 max-lg:text-2xl">Estamos prontos para ouvir você.</p>

                        <p class="text-gray-700 text-lg max-lg:text-md">Retornaremos o contato o mais rápido possível!</p>
                    </div>

                    <div class="flex flex-col mb-4 mb-2 text-lg max-lg:items-center">

                        <div class="flex items-center flex-row gap-4">
                            <span class="text-blue-400">{% bs_icon 'telephone' %}</span>
                            <p class="text-gray-400 whitespace-nowrap">(13) 9999-9999</p>
                        </div>

                        <div class="flex items-center flex-row gap-4">
                            <span class="text-blue-400 text-size">{% bs_icon 'envelope' %}</span>
                            <p class="text-gray-400">example@gmail.com</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="flex flex-col justify-center items-center text-lg m-4 w-1/2 max-lg:w-4/5">

                <form class="flex flex-col w-4/5 gap 10 max-lg:w-full max-lg:mx-3 max-lg:text-left"
                      action=""
                      method="post"
                      id="myform">

                    {% csrf_token %}

                    {% if form.is_bound and form.errors %}
                        <div class="bg-red-100 border border-red-400 text-red-700 text-lg/6 px-4 py-3 rounded mb-4 max-lg:text-left">
                            <strong class="font-bold">Ops! Verifique os campos abaixo:</strong>
                            <ul class="list-disc ml-5 mt-2">
                                {% for field in form %}
                                    {% for error in field.errors %}<li class="mb-2">{{ field.label }}: {{ error }}</li>{% endfor %}
                                {% endfor %}

                                {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="flex flex-col">
                        <label class="text-gray-400" for="name">Nome Completo</label>
                        <input class="border-2 border-gray-400  shadow-lg p-2 rounded-lg mb-2"
                               type="text"
                               name="name"
                               id="name"
                               maxlength="100"
                               value="{{ name_value }}"
                               placeholder="Ex: Jorge Santos">
                    </div>

                    <div class="flex flex-col">
                        <label class="text-gray-400" for="email">E-mail corporativo</label>

                        <input class="border-2 mb-2 shadow-lg p-2 rounded-lg border-gray-400"
                               type="text"
                               name="email"
                               id="email"
                               maxlength="70"
                               value="{{ email_value }}"
                               placeholder="Ex: exemplo@outlook.com">
                    </div>

                    <div class="flex flex-col">
                        <label class="text-gray-400" for="subject">Assunto</label>
                        <input class="border-2 shadow-lg p-2 rounded-lg mb-2 border-gray-400 "
                               type="text"
                               name="subject"
                               id="subject"
                               maxlength="50"
                               value="{{ object_value }}"
                               placeholder="Ex: Consultoria, Orçamento, Outro">
                    </div>

                    <div class="flex flex-col">
                        <label class="text-gray-400" for="message">Mensagem</label>
                        <textarea class="border-2 shadow-lg p-2 rounded-lg mb-4 border-gray-400 max-h-[220px] min-h-[50px]"
                                  name="message"
                                  id="message"
                                  maxlength="250"
                                  value="{{ message_value }}">{{ form.message.value|default:'' }}</textarea>
                    </div>

                    <div class="flex justify-center">
                        <button class="bg-white text-blue-400 font-semibold w-full border-3 border-blue-400 rounded-lg p-3 px-5 shadow-xl hover:bg-blue-400 hover:text-white cursor-pointer active:bg-blue-500 shadow-none whitespace-nowrap max-[980px]:mt-5 transition active:scale-95"
                                type="submit"
                                id="submitbtn">Enviar</button>

                    </div>

                </form>
            </div>
        </div>

    </div>

{% endblock content %}
